name: acceptance-test

on:
  pull_request:
    paths:
      - .github/workflows/acceptance-test.yaml
      - '**.go'
      - go.*
      - acceptance_test/**
  push:
    branches:
      - master
    paths:
      - .github/workflows/acceptance-test.yaml
      - '**.go'
      - go.*
      - acceptance_test/**

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - run: make
      - run: make -C acceptance_test
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - run: make -C acceptance_test clean-up
        if: always()
